
:root{
    --primari-color:rgb(45, 108, 133); 
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "poppins", sans-serif;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100%;
    background: white;
    padding: 30px;
}
section{
    padding: 50px 10%;
}
*::selection{

}
.navigation-bar{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--primari-color);
    padding: 13px 10%;
    transition: 0.2s;
    box-shadow: -3px -3px 7px #ffffff73, 2px 2px 5px rgba(94, 104, 121, 0.288);
    /* background-color: white;
    box-shadow: 5px 0px 5px;
    position: fixed; */
}
nav{
    display: flex;
    width: 84%;
    margin: auto;
    padding: 5px 0;
    align-items: center;
    justify-content: space-between;
   
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    text-decoration: none;
    color: rgb(255, 254, 254);
    font-weight: bold;
}

nav ul li a:hover{
    color: red;
}
nav ul .login{
    color: white;
    border: 20px;
    background-color: rgb(45, 108, 133);
    padding: 10px;
    border-radius: 30px;
    width: 70px;
    justify-content: center;
}

/* -----------------------hero section------------------------ */

.hero img{
    position: relative;
    width: 50%;
    height: 90vh;
    margin-top: 20px;
    
}
.contant{
    position: absolute;
    left: 60%;
    top: 30%;
}
.hero .contant h1{
    font-weight: bold;
    font-size: 3.5rem;
}

.hero .contant span{
    color: orange;
    font-size: 2rem;
}

.btn{
    padding: 10px;
    position: relative;
    top: 40px;
    left: 50px;
    border: none;
    border-radius: 10px;
    background: rgb(45, 108, 133);
    color: white;
    width: 35%;
    font-weight: bold;
    font-size: 1.5rem;
}
.btn:hover{
    background-color: rgb(180, 212, 224);
}

/* ----------------------about me section------------------------- */


/* #about-section{
    width: 80%;
    height: 100vh;
    margin: 30px;
    
}
#about-section h1{
    margin-left: 50%;
    position: relative;
    top: 35px;
} */
.about-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.about, .about-2{
    width: 75%;
    margin: 30px;
    position: relative;
    top: 60px;
   
}
.about h2{
    padding: 5px;
    margin-bottom: 50px;
    font-size: 1.5rem;
}
.about p{
    padding: 5px;
    font-size: 1rem;
}
.about-2 h2{
    padding: 5px;
    margin-bottom: 50px;
    font-size: 1.5rem;
}
.about-2 p{
    padding: 5px;
    font-size: 1rem;
}
.about .btn{
    width: 55%;
    margin: 10px;

}
.imag img{
    width: 100%;
    height: 80vh;
    border-radius: 30px;
    object-fit: cover;
}
.about-2 label{
    padding: 20px;
}
.about-2 span{
    color: var(--primari-color);
    font-weight: bold;
}
.about-2 .icons i{
    margin: 10px;
    position: relative;
    top: 20px;
    font-size: 2rem;
}

/* --------------------------skills section------------------------------------- */

/* .container{
    margin: 7rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.skills-card{
    width: 30rem;
    padding: 10px;
    margin-left: 5rem;

}
label{
    position: relative;
    left: 40%;
    font-size: 2rem;
    font-weight: bold;
    
}
.design{
    padding: 20px;
    border-radius: 30px;
    box-shadow: rgb(200, 236, 240) 5px 1px 5px 5px;
    
}
h1{
    font-size: 1.5rem;
    padding: 5px;
    margin-left: 100px;
}
h2{
    font-size: 1rem;
    padding: 5px;
    color: rgb(45, 108, 133);
}
p{
    font-size: 1rem;
    padding: 5px;
}
#file{
   padding: 1.8rem;
    width: 20rem;
    text-align: center; 
    margin-top: 10px;
    
}
progress:after{ 
    content:attr(value)'%'; 
    
} 
progress::-moz-progress-bar {
    background: var(--primari-color);
}
progress::-webkit-progress-value {
    background: var(--primari-color);
} */
.heading{
    text-align: center;
}
.heading h2{
    font-size: 30px;
}
.heading span{
    color: rgb(100, 169, 196);
    font-size: 0.8rem;
}
.skills-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
    margin-top: 4rem;
}
.skills-image img{
    width: 90%;
    padding-left: 4rem;
    object-position: center;

}
.bars-box{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    margin-bottom: 1rem;
}
.bars-box h3,
.bars-box span{
    font-size: 1.1rem;
    font-weight: 500;
}
.light-bar{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.5rem;
    background-color: violet;
    border-radius: 0.5rem;
}
.percent-bar{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0.5rem;
    background:var(--primari-color);
    border-radius: 0.5rem;
}
.html-bar{
    width: 94%;
}
.js-bar{
    width: 86%;
}
.react-bar{
    width: 80%;
}
.node-bar{
    width: 75%;
}
.design-bar{
    width: 90%;
}
.api-bar{
    width: 70%;
}


/* ---------------------------------works section------------------------------------- */

/* .work-container{
    margin: 7rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.work{
    width: 70%;
    padding: 20px;
    border-radius: 30px;
    box-shadow: rgb(200, 236, 240) 5px 1px 5px 5px;

}

.work img{
    width: 100%;
    object-fit: cover;
    max-height: 30vh;
    border-radius: 50%;
} */

.services-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
}
.services-box{
    padding: 2rem;
    width: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 0.5rem;
    border-bottom: 2px solid var(--primari-color);
    box-shadow: 0 2px 7px rgb(14 55 54 / 15%);
}
.services-box .bx{
    padding-top: 2rem;
    font-size: 54px;
    color: var(--primari-color);
}
.services-box h3{
    font-size: 1rem;
    font-weight: 600;
    margin: 0.7rem 0 0.4rem;
}
.services-box a{
    color: var(--primari-color);
    font-weight: 500;
}
.services-box:hover{
    background: #02225a;
}
.services-box:hover h3{
    color: #fff;
} 
.services-box:hover .bx:hover{
    color: #22cf91;
}
.services-box:hover a{
    color: #8b8a8f;
}

/* =====================portfolio section============================= */

.portfolio-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, auto));
    gap: 1rem;
    margin-top: 2rem;
}
.portfolio-img{
    overflow: hidden;
    border-radius: 0.5rem;
}
.portfolio-img img{
    width: 100%;
    max-height: 40vh;
    display: block;
}
.portfolio-img img:hover{
    transform: scale(1.1);
    transition: 1s;
}

/* =======================contact section================================== */


.contact-form{
    display: grid;
   margin-top: 1rem;
}
.contact-form form{
    display: flex;
    flex-direction: column;
    width: 650px;
    margin-left: 20%;
}

form input,
form textarea{
    padding: 15px;
    border-radius: 0.5rem;
    width: 100%;
    border: none;
    outline: none;
    background: rgb(200, 203, 204);
    margin-bottom: 1rem;
    color: var(--primari-color);
}
form textarea{
    resize: none;
    height: 200px;
}
.contact-button{
    width: 160px;
    cursor: pointer;
    background: #2768d9;
    color: #fff;
    justify-content: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-left: 35%;
}

/* ====================footer================================= */

.footer{
    display: grid;
    padding: 20px;
    background: #ebebeb;
    color: #000;
}
.footer h2{
    font-size: 1.5rem;
    margin-bottom: 1.6rem;
    margin-left: 40%;
}
.footer-secial{
    margin-left: 40%;
}
.footer-secial a i{
    color: rgb(10, 26 208);
    font-size: 25px;
    text-align: center;
    line-height: 40px;
    background: #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
.copyright{
    padding: 20px;
    background: var(--primari-color);
    text-align: center;
    color: #fff;
}
.copyright a{
    color: #22cf91;

}
